.teaser {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
}
.teaserImg {
    margin-left: -9%;
}
.teaserContent {
    width: 30%;
}
.teaserLink {
    color: #E58411;
}
.teaserTitle {
    text-transform: uppercase;
    font-size: 18px;
    color: #E58411;
}
.teaserTitle2 {
    text-transform: capitalize;
    font-size: 42px;
    color: black;
    line-height: 49px;
}
.teaserDescribe {
    font-size: 18px;
    line-height: 185%;
    color: black;
}