.productlistTitle {
    width: 389px;
    height: 52px;
    font-size: 42px;
    color: #1E1E1E;
}
.product-item-container {
    display: flex;
    flex-direction: column;
}

.productList__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.selected {
    background-color: steelblue;
}
