.whychooseus {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: var(--max-width);
    margin: 0 auto;

}
.whychooseusreason {
    width: 20%;

}
.whychooseusreasonLink {
    color: #E58411;
    font-size: 14px;
}