.homepage {
    display: grid;
    
    /* background-size
    : cover;
    height: 68rem;
    background-repeat: no-repeat; */
    /* background-image: url(/public/images/main-banner.png);
    background-repeat: no-repeat;
    height: 50rem; */
    /* background: linear-gradient(180deg, rgba(255, 255, 255, 0) 86.13%, #FFFFFF 100%), url(/public/images/main-banner.png); */
}
.homepageImg {
    z-index: -1;
    width: 100%;
    position: absolute;
    grid: 1/1;
}
.homepageContent {
    grid: 1/1;
}