.homepage {
}

.homepageBanner {
    display: grid;
    margin-top: -80px;    

}

.homepageTitle {
    color: white;
    font-size: 80px;
    text-transform: capitalize;
    text-align: center;
}
.homepageTitle2 {
    color: white;
    font-size: 24px;
    opacity: 0.8;
    line-height: 38px;
    text-align: center;
}
.homepageImg {
    width: 100%;
    grid-column: 1 /span 1;
    grid-row: 1 /span 1;
}
.homepageContent {
    grid-column: 1 / span 1;
    grid-row: 1 /span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.testimonialCardContainer {
    display: flex;
    justify-content: space-around;
    margin: 0 2rem;
}